h1 {
    color: white;
}

hr{
    background-color: transparent;
}

.jumbotron {
    background-color: lightseagreen;
    color: black;
    margin-top: 50px;
}

.banner {
    padding-bottom: 50px;
}

.btn {
    background-color: darkturquoise;
    color: white;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    border-color: darkturquoise;
}


.btn-reserva{
    width: 100%;  
    border-radius: 0px;
    
}

footer {
    padding: 10px 10 px 0 10 px;
    background-color: lightseagreen;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
    
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content{
    padding-top: 20px;
}


