h1 {
  color: white;
}

hr {
  background-color: transparent;
}

.jumbotron {
  background-color: #fcca03;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
}

.banner {
  padding-top: 50px;
  padding-bottom: 0px;
}

.btn {
  background-color: #62bdb1;
  color: white;
  border-color: white;
}

.card-hotel {
  flex: 1 200px;
  background-color: #fcca03;
  border-color: #62bdb1;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

footer {
  padding: 10px 10 px 0 10 px;
  background-color: #fcca03;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 20px;
}

.btn-primary {
  background-color: #c71c38;
}

/*# sourceMappingURL=styles.css.map */
