$yellow: #fcca03;
$green:#62bdb1;
$red:#c71c38;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin bordes ($top, $bottom){
    padding-top: $top;
    padding-bottom: $bottom;
    
}

h1 {
    color: white;
}

hr{
    background-color: transparent;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
    @include bordes(40px, 0px);
}

.banner {
    @include bordes(50px, 0px);
}

.btn {
    background-color: $green;
    color: white;
    border-color: white;
}

.card-hotel{
    flex: 1 200px;
    background-color: $yellow;
    border-color: $green;
    @include margenes(10px, 0px);
}


.btn-reserva{
    width: 100%;  
    border-radius: 0px;
    
}

footer {
    padding: 10px 10 px 0 10 px;
    background-color: $yellow;
    @include margenes(10px, 0px);
    color: white;
    
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content{
    padding-top: 20px;
}
.btn-primary{
    background-color: $red;
}
